.btns{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    height: 80px;
    /* border:solid green 5px; */
    margin: 10px;
    padding: 10px;
    background-color: lightgrey;
    border-radius: 4px;
}

.rock{
    background-color: blue;
    color:white;
    width: 100px;
    border-radius: 8px;
    border: solid black;
}
.rock:active {
    background-color: darkblue;
    box-shadow: 0 2px #666;
    transform: translateY(2px);}

.paper{
    background-color: white;
    width: 100px;
    border-radius: 8px;
    border: solid
}
.paper:active {
    background-color: darkgray;
    box-shadow: 0 2px #666;
    transform: translateY(2px);}

.scissors{
    background-color: red;
    color: white;
    width: 100px;
    border-radius: 8px;
    border: solid black;
}
.scissors:active {
    background-color: darkred;
    box-shadow: 0 2px #666;
    transform: translateY(2px);}

.resultBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resultBox div{
    flex: 1,1, auto;
    display: flex;
    justify-content: center;
    background-color:darkseagreen;
    padding: 20px;
    width: 300px;
    height: 100px;
}

.resultBox p {
    font-size: 20px;
}