header{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-bottom:20px;
}

body{
    background-color:cornflowerblue;
}

#btns{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    height: 80px;
    /* border:solid green 5px; */
    margin: 20px;
    padding: 10px;
    background-color: lightgrey;
    border-radius: 4px;
}

.rock{
    background-color: blue;
    color:white;
    width: 100px;
    border-radius: 8px;
    border: solid black;
}
.rock:active {
    background-color: darkblue;
    box-shadow: 0 2px #666;
    transform: translateY(2px);}

.paper{
    background-color: white;
    width: 100px;
    border-radius: 8px;
    border: solid
}
.paper:active {
    background-color: darkgray;
    box-shadow: 0 2px #666;
    transform: translateY(2px);}

.scissors{
    background-color: red;
    color: white;
    width: 100px;
    border-radius: 8px;
    border: solid black;
}
.scissors:active {
    background-color: darkred;
    box-shadow: 0 2px #666;
    transform: translateY(2px);}

#resultBox{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    /* align-content: center; */
    /* border: solid; */
}

.resultTextDiv{
    display: flex;
    justify-content: center;
    background-color:darkseagreen;
    /* padding: 20px; */
    width: 300px;
    height: 100px;
    border: solid blue;
}

.resultBoxText {
    font-size: 26px;
    /* border: solid white; */
    width: 200px;
    text-align: center;
}

.scoreTracker{
    background-color:cadetblue;
    font-size: 26px;
    border:solid;
    width:320px;
    height:200px;
    /* justify-self: end; */
    /* justify-self: right; */
    text-align: center;
}

.choicesBox{
    background-color: cadetblue;
    font-size: 26px;
    border:solid;
    width:320px;
    height:200px;
    text-align-last:left;
}